/* ======================= ACHIEVEMENTS ======================= */
.achievements {
    position: relative;
    margin-bottom: 100px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        flex: 0 0 270px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        text-align: center;
    }

    &__item-img {
        margin: 0 auto 20px;
    }

    &__item-title {
        display: inline-block;
        margin-bottom: 5px;
        font-family: "Philosopher", sans-serif;
        font-size: $b * 12;
        font-weight: $fw-bold;
        line-height: 27 / 24 * 100%;
    }

    &__item-desc {
        font-weight: normal;
        line-height: 20 / 16 * 100%;
    }
}
