/* ======================= FOOTER ======================= */
.footer {
    padding-top: 38px;
    font-family: $philosopher;
    font-size: 18px;
    line-height: 20 / 18 * 100%;
    text-align: right;
    background-color: $color-main;

    @media (max-width: $md3+px) {
        font-size: 14px;
    }

    &__link {
        font-family: inherit;
        transition: all 0.3s ease-in-out;

        @media (min-width: $md3+px) {
            &:hover {
                color: $color-secondary;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 -10px;
    }

    &__wrapper-item {
        padding: 0 10px;
        margin-bottom: 30px;
    }

    &__address-title,
    &__social-title,
    &__phone-title {
        margin-bottom: 10px;
        font-weight: $fw-bold;
    }

    &__menu-item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__contacts-list {
        display: flex;
        justify-content: space-between;
    }

    &__phone-item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__address {
        flex: 0 1 200px;

        @media (max-width: 350px) {
            flex: 0 1 165px;
        }
    }

    &__address-item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        address {
            font-style: normal;
        }
    }

    &__social-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    &__social-item {
        width: 25px;
        height: 25px;

        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__social-icon {
        width: 100%;
        height: 100%;
        fill: $color-text;
        transition: all 0.2s ease-in-out;

        @media (min-width: $md3+px) {
            &:hover {
                fill: $color-secondary;
            }
        }
    }

    &__copy {
        padding: 8px 0;
        line-height: 24 / 16 * 100%;
        text-align: center;
        background-color: #a2733b;

        @media (max-width: $md3+px) {
            font-size: 12px;
        }
    }
}
