/* ======================= FORM ======================= */
.form {
    padding: 0 100px;

    @media (max-width: $md3+px) {
        padding: 0 50px;
    }

    @media (max-width: 500px) {
        padding: 0;
    }

    &__body {
        margin: 0 auto;
        text-align: center;
    }

    &__input-wrapper {
        position: relative;
    }

    &__input {
        width: 100%;
        padding: 10px;
        margin-bottom: 40px;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $color-main;

        &:last-child {
            margin-bottom: 50px;
        }

        &::placeholder {
            font-size: 16px;
            font-weight: $fw-regular;
            line-height: 24 / 16 * 100%;
            color: darken($color-main, 10%);

            @media (max-width: $md3+px) {
                font-size: 12px;
            }
        }

        &:focus {
            background-color: darken($color-secondary, 3%);
            border-radius: 10px;
            outline: none;
        }
    }

    &__comment {
        min-height: 160px;
        max-height: 400px;
        resize: vertical;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            flex-direction: column-reverse;
        }
    }

    &__policy {
        line-height: 24 / 16 * 100%;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__policy-link {
        color: $color-main;
        transition: all 0.3s ease-in-out;

        @media (min-width: $md3+px) {
            &:hover {
                color: blue;
            }
        }
    }
}
