/* ======================= HEADER ======================= */
.header {
    margin: 40px 0;

    &__wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.menu {
    @media (max-width: $md3+px) {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9;
        width: 50%;
        height: 100vh;
        padding: 43px 15px 15px;
        overflow: auto;
        background-color: rgba($color-main, 0.7);
        border-left: 5px solid $color-main;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in-out;
        transform: translateX(200%);

        &--active {
            transform: translateX(0%);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }

        @media (max-width: $md3+px) {
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__link {
        position: relative;
        padding: 9px 0;
        font-family: "Philosopher", sans-serif;
        font-size: $b * 12;
        font-weight: $fw-regular;
        line-height: 27 / 24 * 100%;
        transition: all 0.3s ease-in-out;

        @media (max-width: $md3+px) {
            font-size: $b * 13;
        }

        @media (max-width: 500px) {
            font-size: $b * 10;
        }

        &::before {
            position: absolute;
            bottom: 4px;
            left: 0;
            width: 0;
            height: 2px;
            content: "";
            background-color: $color-main;
            transition: all 0.3s ease-in-out;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 10px;
            height: 10px;
            content: "";
            background-color: $color-main;
            border-radius: 100%;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        @media (min-width: $md3+px) {
            &:hover {
                color: $color-main;

                &::before {
                    width: 100%;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.logo {
    width: 137px;
    height: 37px;
    margin-right: 20px;
}
